@font-face {
  font-family: Norse-Bold;
  src: url(font/Norse-Bold.otf);
}
html,
body {
  margin: 0px;
  font-family: Norse-Bold;
  height: 100%;
  min-height: 100%;
}
.container-main {
  display: flex;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.side-hero {
  margin: 0px;
}
.container-info {
  width: 50rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.description {
  max-width: 500px;
  margin-top: 150px;
}
.form {
  margin-top: 20px;
  max-width: 550px;
  display: flex;
}
.input {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}
.createAccount {
  margin-top: 30px;
}

.form-right {
  margin-left: 20px;
}
.odin-logo {
  display: flex;
  justify-content: center;
  background-color: grey;
  opacity: 40%;
  position: absolute;
  top: 150px;
  width: 450px;
  font-size: 4rem;
  text-align: center;
  height: 150px;
}
input:valid {
  border-color: green;
}
input:invalid {
  border-color: red;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-radius: 6px;
}
input:focus {
  border-color: green;
}
label {
  margin-top: 20px;
}
.msg {
  font-size: 0.8rem;
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: absolute;
}
